<div class="w-3/4  border-black border-4 rounded-md shadow-[8px_8px_0px_rgba(0,0,0,1)] bg-white">
    <article class="w-full">
       <figure class="w-full  border-black border-b-2">
          <img
             src="../assets/just-5.png"
             alt="thumbnail"
             class="w-full h-56 object-cover "
             />
       </figure>
       <div class="px-6 py-5 text-left">
         
          <h1 class="md:text-[32px] cellphone:text-base mb-4">Advogados </h1>

          <p class="md:text-lg cellphone:text-base font-bold text-justify w-full mb-2">
            O que você deve considerar ao escolher um advogado?
            </p>
          <p class="text-base text-justify w-full mb-3">
            Quando você precisa de um advogado para defender seus interesses, escolher o profissional certo é crucial para o sucesso do seu caso e sua tranquilidade durante o processo. Vários pontos e conceitos importantes devem ser considerados ao contratar um advogado. Aqui está um guia abrangente para ajudá-lo a fazer uma escolha informada:</p>

          <p class="md:text-lg cellphone:text-base font-bold text-justify w-full mb-2">
            Especialização:
          </p>
          <p class="text-base text-justify w-full mb-3">
            Procure advogados que sejam especialistas na área de interesse. Por exemplo, se você estiver lidando com um caso de direito de família, busque um advogado especializado em divórcio, guarda de crianças ou herança. A especialização indica que o advogado tem conhecimento aprofundado na área.
          </p>

          <p class="md:text-lg cellphone:text-base font-bold text-justify w-full mb-2">
            Experiência:
          </p>

          <p class="text-base text-justify w-full mb-3">
            A experiência é um fator crucial. Um advogado com anos de experiência provavelmente enfrentou diversos casos e tem uma compreensão mais sólida do sistema jurídico. Além disso, advogados experientes têm uma rede de contatos que pode ser valiosa para o seu caso.
          </p>
     
          <p class="md:text-lg cellphone:text-base font-bold text-justify w-full mb-2">
            Reputação: 
          </p>
          <p class="text-base text-justify w-full mb-3">
            Pesquise a reputação do advogado. Você pode usar a internet para verificar avaliações, ler comentários de clientes anteriores e consultar listas de advogados recomendados. Uma boa reputação geralmente indica um alto nível de competência e ética.
          </p>


          <p class="md:text-lg cellphone:text-base font-bold text-justify w-full mb-2">
            Recomendações:
          </p>
          <p class="text-base text-justify w-full mb-3">
            Pergunte a amigos, familiares ou colegas se eles têm recomendações de advogados que já utilizaram. Essas referências pessoais podem ser confiáveis e oferecer uma visão direta do desempenho do advogado.
          </p>

          <p class="md:text-lg cellphone:text-base font-bold text-justify w-full mb-2">
            Comunicação Clara: 
          </p>
          <p class="text-base text-justify w-full mb-3">
            Um bom advogado deve ser capaz de explicar conceitos jurídicos complexos de forma clara e compreensível. Durante a consulta inicial, avalie se o advogado responde às suas perguntas de maneira satisfatória e se você se sente confortável com a comunicação.
          </p>

          <p class="md:text-lg cellphone:text-base font-bold text-justify w-full mb-2">
            Acesso ao Advogado:
          </p>
          <p class="text-base text-justify w-full mb-3">
            Pergunte sobre a disponibilidade do advogado para responder a chamadas, e-mails ou mensagens. A comunicação eficaz é essencial para garantir que você esteja informado sobre o progresso do seu caso.
          </p>


          <p class="md:text-lg cellphone:text-base font-bold text-justify w-full mb-2">
            Estrutura de Taxas:
          </p>
          <p class="text-base text-justify w-full mb-3">
            É fundamental entender como o advogado cobra pelos serviços. Alguns advogados cobram por hora, enquanto outros trabalham com honorários fixos ou baseados em contingência (porcentagem do valor ganho no caso). Certifique-se de entender a estrutura de taxas antes de contratar.
          </p>


          <p class="md:text-lg cellphone:text-base font-bold text-justify w-full mb-2">
            Transparência nos Custos: 
          </p>
          <p class="text-base text-justify w-full mb-3">
            Pergunte sobre custos adicionais, como taxas de processo, custos administrativos ou custos de testemunhas especialistas. Um advogado transparente deve fornecer uma estimativa clara dos custos totais para evitar surpresas desagradáveis no futuro.
          </p>

          <p class="md:text-lg cellphone:text-base font-bold text-justify w-full mb-2">
            Ética Profissional: 
          </p>
          <p class="text-base text-justify w-full mb-3">
            Verifique se o advogado tem histórico disciplinar ou processos contra ele. O órgão da ordem dos advogados pode fornecer essas informações. Um advogado ético deve cumprir os padrões profissionais e tratar seus clientes com respeito.
            Confidencialidade: A confidencialidade é crucial. O advogado deve garantir que todas as informações relacionadas ao seu caso sejam mantidas em sigilo e somente compartilhadas com pessoas autorizadas.
            
          </p>

          <p class="md:text-lg cellphone:text-base font-bold text-justify w-full mb-2">
            Conexão Pessoal: 
          </p>
          <p class="text-base text-justify w-full mb-3">
            Por fim, avalie se você sente uma conexão pessoal com o advogado. Ter uma boa relação com seu advogado pode tornar o processo jurídico mais suportável e até mais eficaz. Confiança mútua e empatia são fatores importantes.
            Ao escolher um advogado, lembre-se de que é um investimento significativo em sua defesa ou em seus interesses legais. Avalie cuidadosamente todos esses pontos para garantir que você tenha um advogado que atenda às suas necessidades e que lhe ofereça a melhor chance de sucesso no seu caso.
            
          </p>

       
          <p class="md:text-lg cellphone:text-base font-bold text-justify w-full mb-2">
            Obs:
          </p>
          <p class="text-base text-justify w-full mb-3">
            Em nossa plataforma, nós recomendamos e  disponibilizamos o contato dos nossos advogados parceiros, você pode conhecê-los melhor agendando uma consulta desvinculada da plataforma, ou caso assine o pacote premium, pode ter encontros online ou presenciais com nossos parceiros para conhecê-los melhor, sem taxa de custo, e uma vez que contratados, você terá desconto em seus trabalhos.
          </p>

       
       </div>

  </article>
  </div>
</body>



