<div class="w-3/4  border-black border-4 rounded-md shadow-[8px_8px_0px_rgba(0,0,0,1)] bg-white">
   <article class="w-full">
      <figure class="w-full  border-black border-b-2">
         <img
            src="../assets/cabecas.png"
            alt="thumbnail"
            class="w-full h-56 object-cover "
            />
      </figure>
      <div class="px-6 py-5 text-left w-full">
         <h1 class="text-[32px] mb-4">Quem somos</h1>
         <div class=" flex flex-row justify-center items-center"> 
         <div class="w-full p-7">         
         <p class="text-lg text-justify w-full mb-4">
            O Help Hamu é o protótipo de uma plataforma de auxílio jurídico, feita por escopo de um projeto escolar do curso de serviços jurídicos da Etec Demétrio Azevedo Júnior. Nosso site e todas as suas propostas são hipotéticos e com fins demonstrativos. Em todo caso, ele surgiu da ideia de auxiliar aqueles com menos conhecimento na área judicial, mas que ainda sim necessitam de usufruir dela, garantindo que estes estejam cientes de todos os seus direitos de forma prática e eficaz, por meio das inovações tecnológicas. Legal não é?
         </p>
         <p class="text-lg text-justify w-full mb-4">
            Nós também visamos ser um projeto acessível e inclusivo, onde mesmo sem assinar os planos pagos, todos podem ter acesso às informações que necessitam.
         </p>

         <p class="font-bold text-lg text-justify w-full mb-4">
            Extra: De onde vem o nome "hamu"? 
         </p>
         <p class="text-lg text-justify w-full mb-4">
            "Hamu" é a abreviação de 'Hamurabi', que foi o nome do primeiro registro de leis do mundo! E além disso, ele nomeia o mascote da nossa sala, o Sr. Hamurabi! Em homenagem a ele, nosso site leva parte do seu apelido.
         </p>
      </div>
      <div class="w-2/4 flex justify-center items-center flex-col">
         <img class="ml-5 mr-3 w-80 h-80 " src="../../assets/hamu.jpeg" alt="">
         <p class="text-lg font-bold mt-2">Hamurabi o cãozinho jurídico!</p>
      </div>
   </div>
      
      </div>
   </article>

</div>