<div class="w-3/4  border-black border-4 rounded-md shadow-[8px_8px_0px_rgba(0,0,0,1)] bg-white">
    <article class="w-full">
       <figure class="w-full  border-black border-b-2">
          <img
             src="../assets/phone.png"
             alt="thumbnail"
             class="w-full h-56 object-cover "
             />
       </figure>
       <div class="px-6 py-5 text-left w-full">
          <h1 class="text-[32px] mb-4">Contatos!</h1>


          <p class="text-lg font-bold mb-2">Entre em contato com nossos advogados</p>
          <div class="flex flex-row justify-start items-center">
                 <p class="ml-1 mt-1">Sandra:</p>
                <span class="mt-1">advogada.sandra@gmail.com</span>
          </div>

          <div class="flex flex-row justify-start items-center">   
       
              <p class="ml-1 mt-1">Luis Fernando:</p>
              <span class="mt-1">luisfernando@hotmail.com</span>
          </div>


          <div class="flex flex-row justify-start items-center">   
        
            <p class="ml-1 mt-1">Maria Clara:</p>
            <span class="mt-1">mariaclara.adv@gmail.com</span>   
          </div>     
          
          <p class="text-lg font-bold mb-2 mt-2">Acesse nosso canal de comunicação</p>

          <a class="bg-green-400 rounded-md p-2 hover:underline " href="https://t.me/helphamu">Telegram</a>
        
    </div>
       
    </div>
    </article>
 
 </div>